<h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
<label for="name">Nombre del Súper Héroe: </label>
<input id="name"[(ngModel)]="hero.name" placeholder="name">
</div>
<div>
<label for="edad">Edad del Súper Héroe: </label>
<input id="edad"[(ngModel)]="hero.edad" placeholder="edad">
</div>
<div>
<label for="tipo">Súper Poder del Héroe: </label>
<input id="tipo"[(ngModel)]="hero.tipo" placeholder="tipo">
</div>
<div>
<label for="identidad">Identidad del Héroe: </label>
<input id="identidad"[(ngModel)]="hero.identidad" placeholder="identidad">
</div>
<div>
<label for="universo">Universo al que Pertenece el Héroe: </label>
<input id="universo"[(ngModel)]="hero.universo" placeholder="universo">
</div>