<h2>Mis Héroes favoritos</h2>
<ul class="heroes">
<li *ngFor="let hero of heroes"
[class.selected]="hero === selectedHero"
(click)="onSelect(hero)">
<span class="badge">{{hero.id}}</span>{{hero.name}}
</li>
</ul>
<div *ngIf="selectedHero">
<h2>{{selectedHero.name | uppercase}} detalles</h2>
<div><span>id: </span>{{selectedHero.id}}</div>
<div>
<label for="hero-name">Nombre del Súper Héroe: </label>
<input id="hero-name"[(ngModel)]="selectedHero.name" placeholder="name">
</div>
<div>
<label for="hero-edad">Edad del Súper Héroe: </label>
<input id="hero-edad"[(ngModel)]="selectedHero.edad" placeholder="edad">
</div>
<div>
<label for="hero-tipo">Súper Poder del Héroe: </label>
<input id="hero-tipo"[(ngModel)]="selectedHero.tipo" placeholder="tipo">
</div>
<div>
<label for="hero-identidad">Identidad del Héroe: </label>
<input id="hero-identidad"[(ngModel)]="selectedHero.identidad" placeholder="identidad">
</div>
<div>
<label for="hero-universo">Universo al que Pertenece el Héroe: </label>
<input id="hero-universo"[(ngModel)]="selectedHero.universo" placeholder="universo">
</div>